@font-face {
    font-family: fuente-militar;
    src: url(../estilos/angkatan.otf);
  }
    
  .titulo { grid-area: header; }
  .muestra { grid-area: menu;
      background-color: red; 
      margin-top: auto;
      margin-bottom: auto;
}
  .item1 { grid-area: vehiculo1; }
  .item2 { grid-area: vehiculo2; 
      }
  .item3 { grid-area: vehiculo3; }
  .item4 { grid-area: vehiculo4; }
  .item5 { grid-area: vehiculo5; }
  .item6 { grid-area: vehiculo6; }
  .item7 { grid-area: vehiculo7; }
  .item8 { grid-area: vehiculo8; }
  .item9 { grid-area: vehiculo9; }
  
  .grid-container {
    display: grid;
    grid-template-rows: auto 200px 200px 200px;
    grid-template-columns: auto 200px 200px 200px;
    grid-template-areas:
      'header header header header'
      'menu vehiculo1 vehiculo2 vehiculo3'
      'menu vehiculo4 vehiculo5 vehiculo6'
      'menu vehiculo7 vehiculo8 vehiculo9'
      ;
    /* grid-gap: 10px; */
    background-color: #2196F3;
  }
  
  .grid-container > div {
    
    text-align: center;
    font-size: 30px;
  }
  img{
    width: 200px;
    object-fit: fill;
  }
  img#vehiculo_muestra{
    width: 420px;
    position: relative;
    
  }

  .subtitulo{
    font-size: 20px;
    font-family: fuente-militar;
    text-align: center;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }