@font-face {
    font-family: fuente-militar;
    src: url(../estilos/angkatan.otf);
  }
.titulo { grid-area: titulo;
    background: rgba(0, 0, 0, 0.6);
    font-family: fuente-militar;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 90px;
    padding-top: 5px; 
}
.subtitulo {
  grid-area: subtitulo;
  font-size: 40px;
  font-family: fuente-militar;
  text-align: center;
  color: white;
text-shadow: 1px 1px 2px black, 0 0 25px rgb(13, 156, 0), 0 0 5px rgb(1, 116, 16);
}
.sala1 { grid-area: sala1; }
.sala2 { grid-area: sala2; }
.sala3 { grid-area: sala3; }
.sala4 { grid-area: sala4; }


.grid-container {
  display: grid;
  grid-template-rows: 15% 7% 37% 37%;
  grid-template-areas:
    "titulo titulo"
    "subtitulo subtitulo"
    "sala1 sala2"
    "sala3 sala4";

}

.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}
