@font-face {
  font-family: fuente-militar;
  src: url(../estilos/angkatan.otf);
}

.titulo {
    grid-area: titulo;
    background: rgba(0, 0, 0, 0.6);
  font-family: fuente-militar;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 90px;
  padding-top: 5px; 
  }
  .subtitulo {
    grid-area: subtitulo;
    font-size: 50px;
    font-family: fuente-militar;
    text-align: center;
    color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  .museo1{
    grid-area: museo1;
  }
  .museo2{
    grid-area: museo2;
  }
 
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
    grid-template-areas: 
    "titulo titulo "
    "subtitulo subtitulo"
    "museo1 museo2";
    margin: 0;
    align-items: center;
  }
  